.top-button{
    margin-left: 77%;
    font-size: 18px;
}
body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: rgb(38, 40, 63);
    font-size: 70px;
}
h2{
    color: rgba(54, 57, 88, 1);
    font-size: 40px;
}
h3{
    color: rgba(54, 57, 88, 1);
    font-size: 30px;
}
h4{
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    color: rgba(54, 57, 88, 1);
}
p{
    color: rgb(33, 41, 56);
    font-size: 30px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.name{
    color: rgba(255, 131, 103, 1);
}
.about{
    text-align: center;
}
section{
    height: 500px;
    padding-bottom: 150px;
    margin-bottom: 10%;
}
.link-button{
    margin: 0% 0% 0% 5%;
    text-decoration: none;
    background-image: linear-gradient( lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.CV{
    margin-top: 20px;
    margin-left: 320px;
}
.bottom{
    background-color: rgb(240, 247, 247);
}
.buttom-title{
    padding-top: 40px;
    text-align: center;
}
.three-parts{
    border: 15px solid white;
    box-shadow: 10px 10px 40px gray ;
    width: 20%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;
    border-radius: 30px;
}
.three-parts img{
    width: 100%;
}
.last{
    position: relative;
    width: 80%;
    margin: 10px 200px;
}
.text{
    font-size: 400%;
    position :absolute;
    bottom: 350px;
    right: 1000px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}
.chat{
    position :absolute;
    bottom: 425px;
    right: 200px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.final{
    font-size: 60px;
    text-align: center;
    color: rgba(54, 57, 88, 1)
}
.insta{
    position: absolute;
    right: 530px;
}
.uk{
    position: absolute;
    right: 670px;
}
.last-icon{
    position: absolute;
    right: 820px;
}
.icons{
    height: 5px;
    width: 5px;
}
.special{
    height: 500px;
    background-color: rgb(238, 255, 255);
    padding-left: 30px;
    padding-right: 40px;
}
.special img{
    height: 500px;
    width: 80%;
    margin-top: 80px;
    position: relative;
    border: 5px solid rgb(177, 203, 226);
    border-radius: 20px;
    box-shadow: 10px 10px 40px rgb(0, 0, 0) ;
}
.part-one{
   position: absolute;
   left: 240px;
   top: 2780px;
}
.part-two{
    font-size: 25px;
    position: absolute;
    left: 200px;
   top: 2910px;
   color: rgb(255, 255, 255);
}
.part-five{
    font-size: 25px;
    position: absolute;
    left: 120px;
   top: 2960px;
   color: rgb(255, 255, 255);
}
.part-three{
    position: absolute;
    top: 2780px;
    left: 1500px;
}
.part-four{
    position: absolute;
    top: 2910px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    left: 1400px;
}
.part-six{
    position: absolute;
    top: 2960px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    left: 1400px;
}