.top-button{
    margin-left: 77%;
    font-size: 18px;
}
body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: rgba(54, 57, 88, 1);
    font-size: 50px;
}
h2{
    color: rgba(54, 57, 88, 1);
    font-size: 40px;
}
h3{
    color: rgba(54, 57, 88, 1);
    font-size: 30px;
}
h4{
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    color: rgba(54, 57, 88, 1);
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.name{
    color: rgba(255, 131, 103, 1);
}
section{
    height: 500px;
    padding-bottom: 150px;
    margin-bottom: 10%;
}
.link-button{
    margin: 0% 0% 0% 5%;
    text-decoration: none;
    background-image: linear-gradient( lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.CV{
    margin-top: 20px;
    margin-left: 200px;
}
.bottom{
    background-color: rgb(240, 247, 247);
}
.buttom-title{
    text-align: center;
}
.three-parts{
    border: 15px solid white;
    box-shadow: 10px 10px 40px gray ;
    width: 20%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;
    border-radius: 10px;
}
.three-parts img{
    width: 100%;
}
.last{
    position: relative;
    width: 80%;
    margin: 10px 200px;
}
.text{
    font-size: 400%;
    position :absolute;
    bottom: 350px;
    right: 1000px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}
.chat{
    position :absolute;
    bottom: 425px;
    right: 200px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.final{
    font-size: 60px;
    text-align: center;
    color: rgba(54, 57, 88, 1)
}
.insta{
    position: absolute;
    right: 530px;
}
.uk{
    position: absolute;
    right: 670px;
}
.last-icon{
    position: absolute;
    right: 820px;
}
.icons{
    height: 5px;
    width: 5px;
}